<form action="" >

  <div ngModelGroup #group="ngModelGroup">

    <label class="m-2">user Name:</label>
    <input required
      type="text" 
      name="uname" 
      minlength="4"
      class="form-control w-50 m-2"
      ngModel
      #un="ngModel">
      <ng-container *ngIf="un.touched">
        <p class="error-msg" *ngIf="un.errors?.['required']">username is required</p>
        <p class="error-msg" *ngIf="un.errors?.['minlength']">minimun eight characters required</p>
      </ng-container>
      <br>
      <br>
      Password:
      <input required
        type="password" 
        name="pwd" 
        class="form-control w-50 m-2"
        minlength="8"
        ngModel
        #p="ngModel">
        <ng-container *ngIf="un.touched">
          <p class="error-msg" *ngIf="p.errors?.['required']">password is required</p>
          <p class="error-msg" *ngIf="p.errors?.['minlength']">minimun eight characters required</p>
        </ng-container>
  </div>

  <button (click)="show(un,p,group)"
  class="btn btn-primary">click</button>


</form>