<!-- //String interpolation -->

<!-- <h1> {{ city }}</h1> -->


<!-- Property Bindning -->

<!-- Name:<input type="text">
<input type="number" [hidden]=ishidden  >

<button>Submit</button> -->


<!-- <button (click)="increment()">
  Increment</button>
<button (click)="decrement()">
  Decrement</button>
<p>Counter:{{counter}}</p>


Name:<input type="text" on-input="changeName($event)">
<h1>Your Name:{{ name}}</h1> -->


<!-- Two way Data Binding By ussing [(ngModel)]-->

City:<input type="text" [(ngModel)]="city">

<p>{{ city }}</p>

<button (click)="updateCity()">Update</button>